{block #content}
<div style="text-align: center">
    <h1>Welcome to Annotate!</h1>

    <h2>Fast and powerful composer-based PHP framework</h2>
    <img src="http://placekitten.com/g/500" alt=""/>
</div>
